<mat-toolbar>
  <mat-tab-group mat-stretch-tabs fxFlex [(selectedIndex)]="activeLinkIndex"
                 (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let routeLink of routeLinks" [label]="routeLink">
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>
<h2>{{kind}}</h2>
<div *ngIf="kind==='latest';then latest else favorites"></div>

<ng-template #latest>
  <div *ngFor="let position of positions | search: searchTerm">
    <app-position-card [position]="position" [activeLinkLabel]="activeLinkLabel" (like)="onLike($event)"></app-position-card>
  </div>
</ng-template>

<ng-template #favorites>
  <div *ngFor="let position of getFavorites() | search: searchTerm">
    <app-position-card [position]="position" [activeLinkLabel]="activeLinkLabel" (like)="onLike($event)"></app-position-card>
  </div>
</ng-template>



