<mat-toolbar>
  <mat-tab-group mat-stretch-tabs fxFlex [(selectedIndex)]="activeLinkIndex"
                 (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let routeLink of routeLinks" [label]="routeLink">
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>

<div *ngIf="kind==='latest';then latest else favorites"></div>

<ng-template #latest>
  <div fxLayout="row">
    <div>
      <div *ngFor="let position of positions | search: searchTerm">
        <app-position-card [position]="position" [activeLinkLabel]="activeLinkLabel"
                           (like)="onLike($event)"
                           (cursor)="onChangeCursor($event)">

        </app-position-card>
      </div>
    </div>
    <mat-card fxFlex>
      <p [innerHTML]="cursor?.description"></p>
    </mat-card>
  </div>
</ng-template>

<ng-template #favorites>
  <div fxLayout="row">
    <div>
      <div *ngFor="let position of getFavorites() | search: searchTerm">
        <app-position-card [position]="position" [activeLinkLabel]="activeLinkLabel"
                           (like)="onLike($event)"
                           (cursor)="onChangeCursor($event)">
        </app-position-card>
      </div>
    </div>
    <mat-card fxFlex>
      <p [innerHTML]="cursor?.description"></p>
    </mat-card>
  </div>
</ng-template>


