<mat-toolbar>
  <mat-tab-group mat-stretch-tabs fxFlex [(selectedIndex)]="activeLinkIndex"
                 (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let routeLink of routeLinks" [label]="routeLink">
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>

<div fxLayout="column" style="min-height:98vh;width:100%">
  <mat-sidenav-container fxFlex>
    <mat-sidenav-content>
      <div *ngIf="kind==='latest';then latest else favorites"></div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav align="end" mode="over" opened="false">
      <button mat-icon-button
              aria-label="Back"
              (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div #cursor></div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<!--
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="kind==='latest';then latest else favorites"></div>
    <div #cursor></div>
  </div>
-->

<!--fxShow="false" fxShow.gt-sm  - hide if mobile -->

<ng-template #latest>
  <div fxLayout="column">
    <app-position-card *ngFor="let p of positions | search: searchTerm"
                       [position]="p"
                       [activeLinkLabel]="activeLinkLabel"
                       (like)="onLike($event)"
                       (cursor)="onChangeCursor($event);sidenav.toggle()">
    </app-position-card>
  </div>
</ng-template>

<ng-template #favorites>
  <div fxLayout="column">
    <app-position-card *ngFor="let p of getFavorites() | search: searchTerm"
                       [position]="p"
                       [activeLinkLabel]="activeLinkLabel"
                       (like)="onLike($event)"
                       (cursor)="onChangeCursor($event);sidenav.toggle()">
    </app-position-card>
  </div>
</ng-template>



