<mat-toolbar *ngIf="!showSearch">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <a fxFlex fxFlexOffset="20px" style="text-decoration:none" href="">LOGO</a>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button *ngIf="username" (click)="showSearch = !showSearch">Search</button>
    <button mat-button *ngIf="username" [routerLink]="['/content', 'latest']">Latest</button>
    <button mat-button *ngIf="username" [routerLink]="['/content', 'favorites']">Favorites</button>
    <button mat-button routerLink="/login">{{username ? 'Sign out' : 'Sign In'}}</button>
    <button mat-button *ngIf="!username" routerLink="/register">Sign up</button>
    <button mat-button *ngIf="username">Hello, {{username}}</button>
  </div>

  <div fxShow="true" fxHide.gt-sm>
  <button *ngIf="username" mat-icon-button
          aria-label="Search"
          (click)="showSearch = !showSearch">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  </div>

</mat-toolbar>

<mat-toolbar *ngIf="showSearch">
  <button mat-icon-button
          aria-label="Back"
          (click)="showSearch = !showSearch; clearSearch()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-form-field fxFlex>
    <input matInput
           type="text"
           title="search"
           [(ngModel)]="value"
           [placeholder]="placeholder"
           (blur)="handleBlur()"
           (search)="stopPropagation($event)"
           (keyup)="handleSearch($event)"/>
  </mat-form-field>
  <button mat-icon-button
          aria-label="Cancel"
          [@searchState]="(value ? 'show' : 'hide-right')"
          (click)="clearSearch()">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="username" [routerLink]="['/content', 'latest']">Latest</button>
  <button mat-menu-item *ngIf="username" [routerLink]="['/content', 'favorites']">Favorites</button>
  <button mat-menu-item routerLink="/login">{{username ? 'Sign out' : 'Sign In'}}</button>
  <button mat-menu-item *ngIf="!username" routerLink="/register">Sign up</button>
</mat-menu>


