<!--<button md-icon-button [mdMenuTriggerFor]="" >-->
<!--<md-icon>menu</md-icon>-->
<!--</button>-->

<!--<span style="flex:1 1 auto;" fxFlexOffset="20px">LOGO</span>-->



<!--<button md-icon-button [mdMenuTriggerFor]="search">-->
<!--<md-icon>search</md-icon>-->
<!--</button>-->

<!--<button md-icon-button [mdMenuTriggerFor]="">-->
<!--<md-icon>more_vert</md-icon>-->
<!--</button>-->

<md-toolbar>
  <button md-icon-button
          aria-label="Back">
    <md-icon>arrow_back</md-icon>
  </button>

  <md-input-container fxFlex>
    <input mdInput
           type="text"
           [(ngModel)]="value"
           [placeholder]="placeholder"
           (blur)="handleBlur()"
           (search)="stopPropagation($event)"
           (keyup.enter)="handleSearch($event)"/>
  </md-input-container>
  <button md-icon-button
          aria-label="Cancel"
          [@searchState]="(value ? 'show' : 'hide-right')"
          (click)="clearSearch()">
    <md-icon>cancel</md-icon>
  </button>
  <!--<md-toolbar-row>-->
    <!---->
    <!--<md-tab-group md-stretch-tabs fxFlex [(selectedIndex)]="activeTabIndex" (selectedIndexChange)="onTabChange($event)">-->
      <!--<md-tab id="tab1" label="Search" aria-controls="tab1-content">-->
      <!--</md-tab>-->
      <!--<md-tab id="tab2" label="Favorite" aria-controls="tab2-content">-->
      <!--</md-tab>-->
      <!--<md-tab id="tab3" label="Deleted" aria-controls="tab3-content">-->
      <!--</md-tab>-->
    <!--</md-tab-group>-->
  <!--</md-toolbar-row>-->
</md-toolbar>


<!--<div [ngSwitch]="activeTabIndex">-->
  <!--<ng-template [ngSwitchCase]="0">-->
    <!--<p>Content 0 here</p>-->
  <!--</ng-template>-->
  <!--<ng-template [ngSwitchCase]="1">-->
    <!--<p>Content 1 here</p>-->
  <!--</ng-template>-->
  <!--<ng-template [ngSwitchCase]="2">-->
    <!--<p>Content 2 here</p>-->
  <!--</ng-template>-->
<!--</div>-->


<!--<md-content layout-padding flex>-->
<!--<ng-switch on="tabs.selectedIndex" class="tabpanel-container">-->
<!--<div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">-->
<!--View for Item #1<br />-->
<!--data.selectedIndex = 0-->
<!--</div>-->

<!--<div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">-->
<!--<md-i()" md-repeat="brand in brands">-->
<!--<md-item-content>-->
<!--<div class="md-tile-left">-->
<!--<img ng-src="" alt="{{brand.name}}" />-->
<!--</div>-->
<!--<div class="md-tile-content">-->
<!--{{brand.name}}-->
<!--</div>-->
<!--</md-item-content>-->
<!--</md-item>-->
<!--</div>-->

<!--<div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">-->
<!--View for Item #3<br />-->
<!--data.selectedIndex = 2-->
<!--</div>-->
<!--</ng-switch>-->
<!--</md-content>-->
