<md-toolbar *ngIf="!showSearch">
  <!--<button md-icon-button [mdMenuTriggerFor]="">-->
  <button md-icon-button>
    <md-icon>menu</md-icon>
  </button>

  <span fxFlex fxFlexOffset="20px">LOGO</span>

  <button md-icon-button
          aria-label="Search"
          (click)="showSearch = !showSearch">
    <md-icon>search</md-icon>
  </button>

  <!--<button md-icon-button [mdMenuTriggerFor]="">-->
  <button md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>

<md-toolbar *ngIf="showSearch">
  <button md-icon-button
          aria-label="Back"
          (click)="showSearch = !showSearch">
    <md-icon>arrow_back</md-icon>
  </button>

  <md-form-field fxFlex>
    <input mdInput
           type="text"
           [(ngModel)]="value"
           [placeholder]="placeholder"
           (blur)="handleBlur()"
           (search)="stopPropagation($event)"
           (keyup.enter)="handleSearch($event)"/>
  </md-form-field>
  <button md-icon-button
          aria-label="Cancel"
          [@searchState]="(value ? 'show' : 'hide-right')"
          (click)="clearSearch()">
    <md-icon>cancel</md-icon>
  </button>
</md-toolbar>




