<mat-card fxLayout="row" *ngIf="(activeLinkLabel === 'All') || (position?.company === activeLinkLabel)">
  <mat-card-header fxFlex (click)="onItemClick()">
    <img mat-card-avatar src="assets/img/{{position?.company}}.png"/>
    <mat-card-title>{{position?.title}}</mat-card-title>
    <mat-card-subtitle>{{position?.company}} - {{position?.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{position?.jobPosted}}</p>
    <button mat-button color="primary" (click)="handleLike()">{{(position?.like) ? 'UNLIKE' : 'LIKE'}}</button>
  </mat-card-content>
</mat-card>
