<app-search></app-search>
<div class="home-content">
  <div class="home-content-area">
    <mat-grid-list [cols]="cols | async" rowHeight="2:1">
      <mat-grid-tile>
        <img src="assets/img/apple_n.jpg" alt="apple_n"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/img/qualcomm_n.jpg" alt="qualcomm_n"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/img/favorite_n.jpg" alt="favorite_n"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>



