<link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
<div class="home-content">
  <h1>Nobody can do everything,</h1>
  <h2>but everyone can do something</h2>

  <div class="home-content-area">
    <mat-grid-list [cols]="cols | async" rowHeight="2:1">
      <mat-grid-tile>
        <img src="assets/img/search_n.jpg" alt="search_n"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/img/latest_n.jpg" alt="latest_n"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/img/favorite_n.jpg" alt="favorite_n"/>
      </mat-grid-tile>
    </mat-grid-list>


  </div>
</div>



