<p align="center">
   <img src="assets/img/i_at_work.jpg" width="450" >
</p>
<h1 id="oleksandr-gergardt">Oleksandr Gergardt</h1>
<hr />
<h2 id="personal-information"><span class="fa fa-info-circle"></span> Personal Information</h2>
<dl>
<div class="column_1_2">
  <dt><span class="fa fa-map-marker fa-fw"></span>Place</dt>
  <dd>Mountain View, California</dd>
</div>
<div class="column_1_2">
  <dt><span class="fa fa-envelope fa-fw"></span>Email</dt>
  <dd><a href="mailto:jingchangshi@gmail.com">ogergardt@gmail.com</a> </dd>
</div>
  <div class="column_1_2">
    <dt><span class="fa fa-male fa-fw"></span>Gender</dt>
    <dd>Male</dd>
  </div>
<div class="column_1_2">
  <dt><span class="fa fa-github fa-fw"></span>GitHub</dt>
  <dd><a href="https://github.com/ogergardt" class="uri">https://github.com/ogergardt</a></dd>
</div>
</dl>


<h2 id="education"><span class="fa fa-university fa-fw"></span> Education</h2>
<dl>
  <dt>2002 - 2008</dt>
  <dd><p><strong>Bechelor in Computer Science</strong>, National Technical University of Ukraine 'Kyiv Polytechnic Institute', Ukraine</p>
    <p><strong>Research Topic</strong>: Distributed computing in enviropment of UNIX-like operating systems | Advisor: Simonenko A.V.</p>
  </dd>
</dl>
<h2 id="professional-skills"><span class="fa fa-star fa-fw"></span> Professional Skills</h2>
<dl>
  <dt>Technologies &amp; Skills</dt>
  <dd>Apache Tomcat, Jetty, SOLR, Lucene,  Zookeeper, QueryDSL, eDisMax, JMS,  ActiveMQ, SQL (Oracle, MS SQL, MySQL), JDBC, RRD, Ajax, JSON, jQuery, DataTables, Bootstrap, HTML, CSS, XML, XSD, WSDL, Axis2, Multithreading, MVC
  </dd>
  <dt>Protocols</dt>
  <dd>REST, SOAP, SNMP, FTP
  </dd>
  <dt>Frameworks</dt>
  <dd>Spring, Hibernate, Angular, Apache Tiles, log4J, Selenium, TestNG, jUnit, Rest Assured
  </dd>
  <dt>Tools</dt>
  <dd>Eclipse, WebStorm, Maven, Jenkins, Jira, SoapUI, RRDtool, Docker, Virtual Box, ssh tunneling, port forwarding, Subversion, Github, Jmeter, YourKit
  </dd>
  <dt>Programming languages</dt>
  <dd>Java, Javascript, Perl, bash
  </dd>
</dl>
<hr />

