<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">

  <mat-card fxFlex>

    <mat-card-subtitle>
      <h2>LOGO</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
        <button type="submit" [disabled]="!registerForm.form.valid" mat-raised-button>Register</button>
      </form>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>

      <br>

    </mat-card-content>

  </mat-card>

</div>

